enabled_plugins = ["nmap"]
debug = true

[server]
listen = "127.0.0.1"
port = "8080"

[discovery]
enabled = true
networks = [ "10.0.1.0/24" ]

[plugins]

[plugins.nmap]
discovery_mode = "nmap_connect"
